

html,body {
    width: 100%;
    height: 100%;
}

ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
}

/* 全屏容器 */
.lt-container {
    width: 100%;
    height: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    padding-top: 45px;
    padding-bottom: 55px;
}

/* header */
.lt-header {
    width: 100%;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #006699;
    padding-left: 45px;
    padding-right: 45px;
}
.lt-header .icon_left,
.lt-header .icon_right {
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    color: #fff;
    text-align:center;
    line-height: 45px;
}
.lt-header .icon_left{
    left: 0;
}
.lt-header .icon_right {
    right: 0;
}
.lt-header h3 {
    text-align: center;
    line-height: 45px;
    color: #fff;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

/* main */
.lt-main {
    width: 100%;
    height: 100%;
    /* 注意 mui中, 区域滚动的父容器是用定位写的, 所以 lt_main 需要加上定位 */
    position: relative;
}

/* footer */
.lt-footer {
    width: 100%;
    height: 55px;
    /*overflow: hidden;*/
    /*去掉p标签的默认margin值或者给父盒子添加overflow,防止出现滚动条*/
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #006699;
}
.lt-footer li {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
}
.lt-footer li.current a {
    color: orange;
}
.lt-footer li.current a p {
    color: orange;
}
.lt-footer li a {
    display: block;
    color: #fff;
    padding-top: 8px;
}
.lt-footer li p {
    color: #fff;
    margin: 0;
}























